.tarea-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.tarea-input {
  width: min(100%, 350px);
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 6px;
  border: 2px solid #9c9c9c;
  outline: none;
}

.tarea-boton {
  display: flex;
  gap: 6px;
  padding: 16px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  background-color: #057530;
  color: #ecebeb;
  text-transform: capitalize;
}

.tarea-boton:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #09933e;
}

.tarea-boton-icono {
  width: 20px;
  height: 20px;
}